h1 {
    color: green;
}
.App img{
    display:flex;
    justify-content: center;
}
.applications {
    display: flex;
    margin: -7px;
    justify-content: center;
}

.applicationsNav {
    display: flex;
    padding-left: 9rem;
}
.nav {
    margin-right: 6rem
}