html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: var(--ltblue);
    display: flex;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
}

.wrapper h1 {
    font-weight: 500;
    color: var(--blue);
    font-style: italic;
}

.wrapper label {
    color: var(--blue);
    font-weight: 600;
}

.wrapper form {
    background-color: white;
    border: 1px solid var(--blue);
    border-radius: .5rem;
    padding: 3rem;
}

.wrapper input:focus {
    outline: none;
}


.wrapper input {
    border: none;
    border-radius: .25rem;
    padding: .5rem;
    margin-left: .5rem;
    margin-top: .5rem;
    width: 10rem;
}

.wrapper select {
    border: none;
    outline: none;
}

.wrapper textarea {
    border: none;
    background-color: transparent;
    outline: none;
}

.buttonWrap {
    margin: 2rem 0 0 0;
    text-align: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
    border-color: var(--blue);
  }
  
  .table th, td{
    width: 6rem;
    font-size: .75rem;
  }
  
  .table th {
    background-color: var(--ltblue);
    font-weight: 600;
  }
  
  .table tr {
    height: 2rem;
  }