.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th, td{
  border: 1px solid var(--font);
  width: 6rem;
  font-size: .75rem;
}

.table th {
  background-color: var(--ltblue);
  font-weight: 600;
}

.table tr {
  height: 2rem;
}

.table button {
  font-size: medium;
  border: none;
  color: #a72020;
}

.table button:hover {
  background-color: #fff;
  color: var(--red);
}
  