
.wrapper {
    display: flex;
    font-weight: 400;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    min-height: 100vh;
    min-width: 100vw;
}

.wrapper h1 {
    font-weight: 500;
    color: var(--blue);
    font-style: italic;
}

.wrapper label {
    color: var(--blue);
    font-weight: 600;
}

.wrapper form {
    background-color: white;
    border: 1px solid var(--blue);
    border-radius: .5rem;
    padding: 3rem;
    text-align: right;
}

.wrapper input:focus {
    outline: none;
}


.wrapper input {
    border: 1px solid var(--blue);
    border-radius: .25rem;
    padding: .5rem;
    margin-left: .5rem;
    margin-top: .5rem;
    width: 10rem;
    background-color:#89c8ff23;
}

.buttonWrap {
    margin: 2rem 0 0 0;
    text-align: center;
}
